### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [7]:
player_count = len(purchase_data["SN"].unique())
player_count

576

In [8]:
player_count_df = pd.DataFrame({"Total Players" : [player_count]})
player_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [46]:
Number_of_Unique_Items = len(purchase_data["Item ID"].unique())
Number_of_Unique_Items

183

In [47]:
Average_Price =  round(purchase_data["Price"].mean(),2)
Average_Price

3.05

In [48]:
Number_of_Purchases = purchase_data["Purchase ID"].count()
Number_of_Purchases

780

In [49]:
Total_Revenue = purchase_data["Price"].sum()
Total_Revenue

2379.77

In [50]:
summary_data_frame = pd.DataFrame({"Number of Unique Items" : [Number_of_Unique_Items], \
                                  "Average Price" : "$"+str(Average_Price), \
                                  "Number of Purchases" : [Number_of_Purchases], \
                                  "Total Revenue" : "$"+str(Total_Revenue)})
summary_data_frame

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [51]:
male_players_count = len(purchase_data.loc[purchase_data["Gender"] == "Male",:] ["SN"].unique())
print (male_players_count)
male_players_percent = round((male_players_count/player_count)*100,2)
print (male_players_percent)

484
84.03

In [52]:
female_players_count = len(purchase_data.loc[purchase_data["Gender"] == "Female",:] ["SN"].unique())
print (female_players_count)
female_players_percent = round((female_players_count/player_count)*100,2)
print (female_players_percent)

81
14.06

In [53]:
non_disclosed_players_count = len(purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed",:] ["SN"].unique())
print (non_disclosed_players_count)
non_disclosed_players_percent = round((non_disclosed_players_count/player_count)*100,2)
print (non_disclosed_players_percent)

11
1.91

In [54]:
gender_demographics_data_frame = pd.DataFrame({"Total Count" : [male_players_count, female_players_count, non_disclosed_players_count], \
                                  "Percentage of Players" : [male_players_percent, female_players_percent, non_disclosed_players_percent], \
                                              "Gender" : ["Male", "Female", "Other / Non-Disclosed"]})
gender_demographics_data_frame.set_index("Gender")

                       Total Count  Percentage of Players
Gender
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [55]:
purchase_analysis_gender_df = purchase_data.groupby(["Gender"])
Purchase_Count_Gender = purchase_analysis_gender_df["Price"].count()
Average_Purchase_Price = purchase_analysis_gender_df["Price"].mean()
Total_Purchase_Value = purchase_analysis_gender_df["Price"].sum()
Total_Count_Gender = [female_players_count, male_players_count, non_disclosed_players_count]
Avg_Total_Purchase_per_Person_per_Gender = Total_Purchase_Value/Total_Count_Gender

In [56]:
purchase_analysis_gender_summary = pd.DataFrame({"Purchase Count" : Purchase_Count_Gender, \
                                          "Average Purchase Price" : Average_Purchase_Price, \
                                          "Total Purchase Value" : Total_Purchase_Value, \
                                         "Avg Total Purchase per Person" : Avg_Total_Purchase_per_Person_per_Gender})
purchase_analysis_gender_summary["Average Purchase Price"] = purchase_analysis_gender_summary["Average Purchase Price"].astype(float).map("${:.2f}".format)
purchase_analysis_gender_summary["Total Purchase Value"] = purchase_analysis_gender_summary["Total Purchase Value"].astype(float).map("${:.2f}".format)
purchase_analysis_gender_summary["Avg Total Purchase per Person"] = purchase_analysis_gender_summary["Avg Total Purchase per Person"].astype(float).map("${:.2f}".format)
purchase_analysis_gender_summary.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [57]:
purchase_data["SN"].value_counts()

Lisosia93        5
Iral74           4
Idastidru52      4
Chanastnya43     3
Saedaiphos46     3
Umolrian85       3
Silaera56        3
Rarallo90        3
Tyidaim51        3
Pheodaisun84     3
Strithenu87      3
Hiaral50         3
Chadolyla44      3
Phaena87         3
Chamjask73       3
Aina42           3
Ilarin91         3
Lisim78          3
Saistyphos30     3
Sondastsda82     3
Haillyrgue51     3
Idai61           3
Yathecal82       3
Inguron55        3
Aelin32          3
Iri67            3
Phyali88         3
Siallylis44      3
Iskadarya95      3
Hada39           3
                ..
Iskossasda43     1
Chadossa56       1
Aiduesu86        1
Eoral49          1
Lisjaskya84      1
Assilsan72       1
Frichosiala98    1
Aisurria69       1
Chadossa89       1
Yasrisu92        1
Aenarap34        1
Chanirra79       1
Hiarideu73       1
Undimsya85       1
Raysistast71     1
Jiskjask85       1
Lisirra58        1
Lassjaskan73     1
Mindadaran26     1
Yoishirrala98    1
Lisadar44        1
Hiral75          1
Haestyphos66     1
Aidai73          1
Lirtim36         1
Marilsanya48     1
Maradarnya40     1
Filrion59        1
Quarrion42       1
Lassassast73     1
Name: SN, Length: 576, dtype: int64

In [9]:
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]
age_group_names = ["<10", "10-14", "15-19", "20-24", "25-29","30-34", "35-39", "40+"]

In [10]:
age_demographics_df = purchase_data.drop_duplicates()
#age_demographics_df = age_demographics_df.sort_values("Age", inplace = True) 
#age_demographics_df.drop_duplicates(subset ="SN", keep = "first", inplace = True)
age_demographics_df["Age Range"] = pd.cut(age_demographics_df["Age"], age_bins, labels = age_group_names)
#age_demographics_df = age_demographics_df.groupby(["Age Range"])
Total_Count = age_demographics_df["Age Range"].value_counts()
Percentage_of_Players = round((Total_Count/player_count)*100, 2)
age_demographics_df["SN"].count()

780

In [11]:
age_demographics_summary = pd.DataFrame({"Total Count" : Total_Count, "Percentage of Players" : Percentage_of_Players})
age_demographics_summary

       Total Count  Percentage of Players
20-24          365                  63.37
15-19          136                  23.61
25-29          101                  17.53
30-34           73                  12.67
35-39           41                   7.12
10-14           28                   4.86
<10             23                   3.99
40+             13                   2.26

In [66]:
#purchase_data["SN"].value_counts()

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [68]:
#purchase_data["SN"].value_counts()
purchase_analysis_age_df = purchase_data
purchase_analysis_age_df["Age Range"] = pd.cut(purchase_analysis_age_df["Age"], age_bins, labels = age_group_names)
purchase_analysis_age_df.groupby(["Age Range"])
purchase_analysis_age_df.count().head()
#purchase_data["SN"].value_counts()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
dtype: int64

In [69]:
Purchase_Count_Age = purchase_analysis_age_df["SN"].count()
Average_Purchase_Price =  purchase_analysis_age_df["Price"].mean()
Total_Purchase_Price =  purchase_analysis_age_df["Price"].sum()

In [72]:
Total_Player_Count = age_demographics_summary["Total Count"]
Total_Player_Count
Avg_Total_Purchase_per_Person_Age = Total_Purchase_Price/Total_Player_Count

In [73]:
purchase_analysis_age_summary = pd.DataFrame({"Purchase Count" : Purchase_Count_Age, \
                                              "Average Purchase Price" : Average_Purchase_Price, \
                                              "Total Purchase Price" : Total_Purchase_Price, \
                                             "Avg Total Purchase per Person" : Avg_Total_Purchase_per_Person_Age})
purchase_analysis_age_summary["Average Purchase Price"] = purchase_analysis_age_summary["Average Purchase Price"].astype(float).map("${:.2f}".format)
purchase_analysis_age_summary["Total Purchase Price"] = purchase_analysis_age_summary["Total Purchase Price"].astype(float).map("${:.2f}".format)
purchase_analysis_age_summary["Avg Total Purchase per Person"] = purchase_analysis_age_summary["Avg Total Purchase per Person"].astype(float).map("${:.2f}".format)
purchase_analysis_age_summary

,Purchase Count,Average Purchase Price,Total Purchase Price,Avg Total Purchase per Person
20-24,780,$3.05,$2379.77,$6.52
15-19,780,$3.05,$2379.77,$17.50
25-29,780,$3.05,$2379.77,$23.56
30-34,780,$3.05,$2379.77,$32.60
35-39,780,$3.05,$2379.77,$58.04
10-14,780,$3.05,$2379.77,$84.99
<10,780,$3.05,$2379.77,$103.47
40+,780,$3.05,$2379.77,$183.06

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [74]:
top_spenders_analysis_sn_df = purchase_data
top_spenders_analysis_sn_df = top_spenders_analysis_sn_df.groupby(["SN"])

In [75]:
Purchase_Count_top_spenders = top_spenders_analysis_sn_df["SN"].count()
Average_Purchase_Price_top_spenders =  top_spenders_analysis_sn_df["Price"].mean()
Total_Purchase_Price_top_spenders =  top_spenders_analysis_sn_df["Price"].sum()

In [76]:
top_spenders_summary = pd.DataFrame({"Purchase Count" : Purchase_Count_top_spenders, \
                                              "Average Purchase Price" : Average_Purchase_Price_top_spenders, \
                                              "Total Purchase Value" : Total_Purchase_Price_top_spenders})
top_spenders_summary["Average Purchase Price"] = top_spenders_summary["Average Purchase Price"].astype(float).map("${:.2f}".format)
top_spenders_summary = top_spenders_summary.sort_values(["Total Purchase Value"], ascending = False)
top_spenders_summary["Total Purchase Value"] = top_spenders_summary["Total Purchase Value"].astype(float).map("${:.2f}".format)
top_spenders_summary.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [77]:
most_popular_items_df = purchase_data[["Item ID", "Item Name", "Price"]]
most_popular_items_df = most_popular_items_df.groupby(["Item ID", "Item Name"])
most_popular_items_count = most_popular_items_df["Price"].count()
most_popular_items_avg = most_popular_items_df["Price"].mean()
most_popular_items_total_price = most_popular_items_df["Price"].sum()

In [79]:
most_popular_items_summary = pd.DataFrame({"Purchase Count" : most_popular_items_count, \
                                              "Item Price" : most_popular_items_avg, \
                                              "Total Purchase Value" : most_popular_items_total_price})
most_popular_items_summary = most_popular_items_summary.sort_values(["Purchase Count"], ascending = False)
most_popular_items_summary["Item Price"] = most_popular_items_summary["Item Price"].astype(float).map("${:.2f}".format)
most_popular_items_summary["Total Purchase Value"] = most_popular_items_summary["Total Purchase Value"].astype(float).map("${:.2f}".format)
most_popular_items_summary.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
#most_popular_items_summary = most_popular_items_summary.sort_values(["Total Purchase Value"], ascending = False)
most_popular_items_summary["Total Purchase Value"] = most_popular_items_summary["Total Purchase Value"]
most_popular_items_summary.head()
#most_popular_items_summary["Total Purchase Value"] = pd.to_numeric(most_popular_items_summary["Total Purchase Value"])

In [ ]:
most_profitable_items_summary = most_popular_items_summary["Total Purchase Value"]
most_profitable_items_summary["Total Purchase Value"] = most_profitable_items_summary["Total Purchase Value"].replace("$", "")
most_profitable_items_summary.head()